* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: 65%;
}
.container {

}
.navbar {

    border: 1px solid green;

}
.hamburger {
    display: none;
}

/*=========================================================

***********************MEDIA QUERIES***********************

============================================================*/
@media only screen and (min-width:0px) {
    .container {
        height: auto;
    }
    .navbar {
        height: 70px;
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
    }
    
    .hamburger {
        display: block;
        width: 28px;
        height: 20px;
        border: 1px solid green;
    }
    .ham {
   
        border: 1px solid green;
        color: brown;
        margin: 1px;
    }

    .logo {
        width: 30px;
        height: auto;
    }

}


@media only screen and (min-width:768px ) {


}

@media only screen and (min-width:1024px) {

}