* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
header {
    background-image: url('../asset/martial-arts-left.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    height: auto;
}

.section-one {
    background: rgba(0, 0, 0, .4);
    height: 90%;
}   .section-one a:hover {
    background-color: #ffa500;
    color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    padding: 0 5%;
    background: rgba(0, 0, 0, .7);
    height: 10%;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.navbar a {
    text-decoration: none;
}
.navbar > a {
    color: #ffa500;
    padding: 5px;
    border-radius: 3px;
}
.navbar > a:hover {
    color: #000;
    background-color: #ffa500;
    transition: .3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.ham {
    display: block;
    width: 25px;
    height: 4px;
    border: 1px solid #9bae9b;
    margin: 3px auto;
    transition: .3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    background: #ffa500;
    border-radius: 3px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.menu li {
    list-style: none;
}
.menu li:hover {
    transition: .7s ease;
    color: #ffa500;
}
h1 {
    font-size: clamp(2rem, 0.6364rem + 4.2614vw, 5rem);;
}
 p {
    font-size: clamp(1.4rem, 1.1727rem + 0.7102vw, 1.9rem);
    line-height: clamp(2rem, 1.0909rem + 2.8409vw, 4rem);
    padding: clamp(2rem, 1.0909rem + 2.8409vw, 4rem);
    margin-top: clamp(2rem, 1.0909rem + 2.8409vw, 4rem);
    text-align: center;
}
.section-one .watch,
.container a {
    text-align: center;
    font-size: clamp(1.4rem, 1.1727rem + 0.7102vw, 1.9rem);
    color: #ffa500;
    padding: 5px;
}
.section-one .watch a{
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #ffa500;
}
.section-one .watch a:hover {
    color: #000;
}
.section-one .watch a i {
    padding: 0 5px;
}

/*=========================================================

***********************MEDIA QUERIES***********************

============================================================*/
@media only screen and (min-device-width:0px) {
    .container {
        border: 1px solid green;
    }
    .container .header-background {
        position: absolute;
        z-index: -2;
        width: 100%;
        object-fit: cover;
        object-position: center;
        inset: 0;
    }
    .navbar {
        height: 50px;
    }

    .hamburger {
        display: block;
        width: 28px;
        height: 25px;
        border: 1px solid green;
    }

    .hamburger.active .middle {
        width: 0;
        transition: .3s ease-in-out;
    }
    .hamburger.active .top {
        transform: translateY(7px) rotate(45Deg);
        transition: .3s ease-in-out;
    }
    .hamburger.active .bottom {
        transform: translateY(-7px) rotate(-45Deg);
        transition: .3s ease-in-out;
    }
    .logo {
        width: 30px;
        height: auto;
    }

    .menu {
        position: fixed;
        top: 50px;
        left: -100%;
        width: 100%;
        flex-direction: column;
        -ms-flex-direction: column;
        background-color: #000;
        color: #ffa500;
        transition: .4s ease-in-out;
        background-color: rgba(0, 0, 0, 0);
    }
    .menu.active {
        display: block;
        left: 0;
    }
    .menu li {
        padding: 5px;
    }


    /*===========================================
    ================ SECTION 1 ===================
    =============================================*/

    .section-one {
        padding: 40px 40px;
        color: white;
    }
    h1 {
        margin-top: 15px;
        text-align: center;
        line-height: 1.34m;
    }


    /*===========================================
    ================ SECTION 2 ===================
    =============================================*/
    .second-section {
        padding: 40px 40px;
 
    }
    .second-section h2 {
        margin: 10px 0;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }


    /*===========================================
    ================ SECTION 3 ==================
    =============================================*/
    .third-section {
        padding: 0 20px;
    }
    .third-section img {
        border-radius: 5px;
        max-width: 100%;
        height: auto;
        padding-bottom: 0;
        margin: 0 auto;
    }
    .third-section-left,
    .third-section-right {
        margin: 30px 0;
    }
    .third-section * {
        padding-bottom: 20px;
    }
    .third-section h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-top: 20px;
    }
    .third-section p {

    }
    .top-article,
    .bottom-article {
        text-align: center;
    }
    .top-article a,
    .bottom-article a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #9bae9b;
        border: 1px solid #9bae9b;
        border-radius: 3px;
        padding: 5px 5px;
    }
    
    /*===========================================
    ================ SECTION 4 ==================
    =============================================*/
    .fourth-section {
        padding: 0px 20px;
        text-align: center;
        margin:  0;
    }
    .fourth-section h2 {
        font-size: 2rem;
        padding: 20px 0;
        text-transform: uppercase;
    }
    .fourth-section p {
        padding: 10px 0 20px;
    }
    .fourth-section a {
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 0 70px;
        border: 1px solid #9bae9b;
        text-decoration: none;
        color: #9bae9b;
        border-radius: 3px;
        padding: 5px 5px;
    }


    /*===========================================
    ================ FOOTER ==================
    =============================================*/
    .footer {
        padding: 20px 20px;
        background-color: rgba(255, 165, 0, .3);
    }
    .socials {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 1.8rem;
    }
    .socials a {
        cursor: pointer;
    }
    .map-con {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0;
    }
    .map-con a {
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }
    .map-link, .contribute-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .contact{
        text-align: center;
        margin: 20px;
    }
    .contact a {
        text-decoration: none;
    }
    .line {
        margin: 10px 0;
    }

}
@media only screen and (min-width:421px ) {
    
}


@media only screen and (min-width:721px ) {

    /*===========================================
    ================ NAVIGATION ===================
    =============================================*/
    .hamburger {
        display: none;
    }
    .menu {
        position: relative;
        inset: 0;
        flex-direction: row;
        -ms-flex-direction: row;
        color: #ffa500;
        justify-content: space-between;
        align-items: center;
        width: 24%;
    }
    .menu li {
        padding-left: 0;
    }
    .logo {
        margin-right: 105px;
    }

    
    /*===========================================
    ================ SECTION 1 ===================
    =============================================*/

    .section-one {
        color: white;
    }
    .section-one .watch {

    }
    .section-one .watch a {
        text-align: center;
        text-decoration: none;
        color: #ffa500;
        margin-top: 40px;
    }
    .section-one .watch a i {
        padding: 0 5px;
    }

    /*===========================================
    ================ SECTION 2 ===================
    =============================================*/
    .second-section {
        padding: 40px 40px;
 
    }
    .second-section h2 {
        margin: 10px 0;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
    }


    /*===========================================
    ================ SECTION 3 ==================
    =============================================*/
    
    .third-section {
        padding: 0 15px;
        background-color: rgba(255, 166, 0, .3);
    }
    .tt-image, .tb-image {
        width: 45%;
        padding-bottom: 0;
    }
    .tb-image {
        order: 2;
    }
    .bottom-article{
        order: 1;
    }
    .third-section img {
        border-radius: 5px;
        width: 100%;
        padding-bottom: 0;
    }
    .third-section-left,
    .third-section-right {
        margin: 30px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .third-section h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-top: 20px;
    }
    .top-article,
    .bottom-article {
        text-align: center;
        width: 45%;
    }
    .top-article p,
    .bottom-article p {
        margin-top: 0;
    }
    .top-article a,
    .bottom-article a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #9bae9b;
        border: 1px solid #9bae9b;
        border-radius: 3px;
        padding: 5px 5px;
    }
    
    /*===========================================
    ================ SECTION 4 ==================
    =============================================*/
    .fourth-section {
        padding: 10px 15px 30px 15px;
        text-align: center;
        margin:  0;
    }
    .fourth-section h2 {
        font-size: 2rem;
        padding: 20px 0;
        text-transform: uppercase;
    }
    .fourth-section p {
        padding: 20px 40px;
        margin-top: 0;
        text-align: center;
    }
    .fourth-link {

    }
    .fourth-section a {
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 0 70px;
        border: 1px solid #9bae9b;
        text-decoration: none;
        color: #9bae9b;
        border-radius: 3px;
        padding: 5px 5px;
    }


    /*===========================================
    ================ FOOTER ==================
    =============================================*/
    .footer {
        padding: 20px 20px;
        background-color: rgba(255, 165, 0, .3);
    }
    .socials {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 1.8rem;
    }
    .socials a {
        cursor: pointer;
    }
    .map-con {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0;
    }
    .map-con a {
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }
    .map-link, .contribute-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .contact{
        text-align: center;
        margin: 20px;
    }
    .contact a {
        text-decoration: none;
    }
    .line {
        margin: 10px 0;
    }

}

@media only screen and (min-width:1440px) {


}