* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: 65%;
}
.container {

}
.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    padding: 0 5%;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.menu li {
    list-style: none;
}
.menu li:hover {
    transition: .7s ease;
    color: #ffa500;
}
/*=========================================================

***********************MEDIA QUERIES***********************

============================================================*/
@media only screen and (min-width:0px) {
    .container {
        height: 100vh;
        border: 1px solid green;
    }    
    .hamburger {
        display: block;
        width: 28px;
        height: 25px;
        border: 1px solid green;
    }
    .ham {
        display: block;
        width: 25px;
        height: 4px;
        border: 1px solid green;
        margin: 3px auto;
        transition: .3s ease-in-out;
        background: green;
        border-radius: 3px;
    }
    .hamburger.active .middle {
        opacity: 0;
        transition: .3s ease-in-out;
    }
    .hamburger.active .top {
        transform: translateY(7px) rotate(45Deg);
        transition: .3s ease-in-out;
    }
    .hamburger.active .bottom {
        transform: translateY(-7px) rotate(-45Deg);
        transition: .3s ease-in-out;
    }
    .logo {
        width: 30px;
        height: auto;
    }
    .menu {
        position: relative;
        display: none;
        top: 45px;
        border: 1px solid green;
        left: -100px;
    }
    .menu.active {
        display: block;
        transition: .8s ease-in-out;
        left: 0;
    }

}


@media only screen and (min-width:768px ) {


}

@media only screen and (min-width:1024px) {

}